@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@100;500;600;800&family=Roboto+Mono&display=swap");

body {
    background-color: rgb(234, 228, 233);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
header {
    min-height: 400px;
    background-image: url("../image/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;
}
h1 {
    font-size: 100px;
    font-family: "Covered By Your Grace", cursive;
    color: rgba(65, 8, 8, 0.4);
    padding: 133px;
}
h2{
    color: rgba(65, 8, 8, 0.686);
}






